---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<!--<br>--> 
<center><h3><font color="#000080">人</font><font color="#FFA500">，</font><font color="#2E8B57">生</font><font color="#F08080">而</font><font color="#00CED1">自</font><font color="red">由</font><font color="#BA55D3">，</font><font color="#601986">但</font><font color="#556fb5">无</font><font color="#fa1089">往</font><font color="#638c0b">不</font><font color="#e00089">在</font><font color="#0a1089">枷</font><font color="#f0c089">锁</font><font color="#00c380">之</font><font color="#cc1089">中</font></h3></center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
